<div class="content">
    <h1>Стейкинг криптовалюты! Самые выгодные тарифные планы!</h1>
    <p>Данные не являются публичной офертой и расположены в информационных целях. Подробности уточняйте по телефону 8-8000-555-35-35</p>
    <p>Информация предоставлена по состоянию на: {{data}} <b>(дата подставляется шаблоном)</b></p>
    <table>
        <tr class="head">
            <th></th>
            <th>Биткоин</th>
            <th>Эфир</th>
            <th>Монеро</th>
        </tr>
        <tr>
            <th>Тариф "Базовый"</th>
            <td>100 BTC<br />5%</td>
            <td>100 ETH<br />7%</td>
            <td>100 MNR<br />13%</td>
        </tr>
        <tr class="even">
            <th>Тариф "Любитель"</th>
            <td>200 BTC<br />7%</td>
            <td>200 ETH<br />9%</td>
            <td>200 MNR<br />15%</td>
        </tr>
        <tr>
            <th>Тариф "Профессионал"</th>
            <td>500 BTC<br />10%</td>
            <td>500 ETH<br />15%</td>
            <td>500 MNR<br />25%</td>
        </tr>
        <tr class="even">
            <th>Тариф "Эксперт"</th>
            <td>1000 BTC<br />15%</td>
            <td>1000 ETH<br />20%</td>
            <td>1000 MNR<br />30%</td>
        </tr>
    </table>
    <form action="" method="post">
        <fieldset>
            <legend>Окошко регистрации</legend>
            <p><label class="title" for="name">Ваше имя:</label>
                 <input type="text" name="name" id="name"><br />
                 <label class="title" for="email">Ваш email:</label>
                 <input type="text" name="email" id="email"></p>
            <p><label for="location" class="title">Интересующая валюта:</label>
                 <select name="location" id="location">
                     <option value="ny">BTC</option>
                     <option value="il">ETH</option>
                     <option value="ca">MNR</option>
                 </select></p>
            <span class="title">Ты жадный?</span>
            <label><input type="radio" name="member" value="yes" /> Да</label>
            <label><input type="radio" name="member" value="no" /> Нет</label></p>
        </fieldset>
    <div class="submit"><input type="submit" value="Регистрация" /></div>
    </form>
</div>